h3{
	color:brown;
	font-family:arial;
	font-size:20px;
	text-align:center;
}

Form{
	width:300px;
	background-color:grey;
	border-radius:5px;
}

label{
	display:block;
    color:white;
	margin-bottom:10px;
}

label.user{
	color:white;
	
}

button[type="SUBMIT"]{
	width:100%;
	background-color:green;
	color:white;
}

a:hover,h3:hover{
	background-color:orange;
}

